extends ../../layout/layout
block title
	title Детальная 1 публикации
block content
	main(data-barba="container" data-barba-namespace="text")
		+breadcrumb(['Главная', 'Публикации'], '«Сеть загородных коттеджей «Сова» в финале престижной петербургской премии Фонтанка.ру «Признание и влияние»')
		.news-page 
			.news-page__top._br
				+picture('news-1','jpg')
			.news-page__content.inner-sm
				ul.news-page__head 
					li 01.01.2023
					li Новости
				.text
					h1 «Сеть загородных коттеджей «Сова» в финале престижной петербургской премии Фонтанка.ру «Признание и влияние»
					p 
						color 
							b С радостью и гордостью сообщаем, сеть загородных коттеджей «Сова» номинирована на премию Фонтанка.ру «Признание и влияние» в категории «Лучшая база отдыха». Благодарим экспертов по загородному отдыху и преданных друзей «Совы» за выдвижение в номинанты независимой народной премии. Оказаться в десятке лучших и попасть в шорт лист — огромная честь!
					p Вместе с вами развиваемся и создаём лучшие пространства для загородного отдыха в Ленинградской области. Готовим к запуску новые супер-локации повышенной комфортности в сосновом лесу (скоро раскроем сюрприз) 
					p Впереди еще три недели для финального голосования премии, когда «Сова» сможет побороться за звание лучшей из лучших.
					a.btn-link(href="#") priznanie.fontanka.ru
					.one-slider.swiper 
						.swiper-wrapper 
							.swiper-slide 
								.one-slider__img._br
									+picture('news-2','jpg')
								.one-slider__title Сертификат премии
							.swiper-slide 
								.one-slider__img._br
									+picture('news-2','jpg')
								.one-slider__title Сертификат премии
							.swiper-slide 
								.one-slider__img._br
									+picture('news-2','jpg')
								.one-slider__title Сертификат премии
							.swiper-slide 
								.one-slider__img._br
									+picture('news-2','jpg')
								.one-slider__title Сертификат премии
							.swiper-slide 
								.one-slider__img._br
									+picture('news-2','jpg')
								.one-slider__title Сертификат премии
						.one-slider__nav 
							button.one-slider__prev(type='button') 
								<svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.6154 0.999999L2 9.5M2 9.5L10.6154 18M2 9.5L30 9.5"  stroke-width="2"/>
								</svg>

							button.one-slider__next(type='button')
								<svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.3846 0.999999L28 9.5M28 9.5L19.3846 18M28 9.5L-3.71547e-07 9.5" stroke-width="2"/>
								</svg>
					p С радостью и гордостью сообщаем, сеть загородных коттеджей «Сова» номинирована на премию Фонтанка.ру «Признание и влияние» в категории «Лучшая база отдыха». Благодарим экспертов по загородному отдыху  и преданных друзей «Совы» за выдвижение в номинанты независимой народной премии. Оказаться в десятке лучших и попасть в шорт лист — огромная честь!	
					p Вместе с вами развиваемся и создаём лучшие пространства для загородного отдыха в Ленинградской области. Готовим к запуску новые супер-локации повышенной комфортности в сосновом лесу (скоро раскроем сюрприз)  для максимально экологичного, расслабляющего, удаленного от городской суеты отдыха.
					ul 
						li Вместе с вами развиваемся и создаём лучшие пространства для загородного отдыха в Ленинградской области. Готовим к запуску новые супер-локации повышенной комфортности в сосновом лесу (скоро раскроем сюрприз)  для максимально экологичного, расслабляющего, удаленного от городской суеты отдыха.
						li С радостью и гордостью сообщаем, сеть загородных коттеджей «Сова» номинирована на премию Фонтанка.ру «Признание и влияние» в категории «Лучшая база отдыха». Благодарим экспертов по загородному отдыху  и преданных друзей «Совы» за выдвижение в номинанты независимой народной премии. Оказаться в десятке лучших и попасть в шорт лист — огромная честь!
						li Впереди еще три недели для финального голосования премии, когда «Сова» сможет побороться за звание лучшей из лучших.
			.another-news 
				.h2 Другие новости
				.another-news__rows
					.another-news__swiper.swiper 
						.swiper-wrapper
							.swiper-slide.news-preview
								.news-preview__img._br 
									+picture('ni-1','jpg')
								ul.news-preview__head
									li 01.01.2023    
									li Новости
								a(href="#").h3.news-preview__title Расширяем спектр услуг!
									
							.swiper-slide.news-preview
								.news-preview__img._br 
									+picture('ni-2','jpg')
								ul.news-preview__head
									li 01.01.2023    
									li Новости
								a(href="#").h3.news-preview__title Сеть коттеджей «Сова» стала участником SPA Business Forum
									
							.swiper-slide.news-preview
								.news-preview__img._br 
									+picture('ni-3','jpg')
								ul.news-preview__head
									li 01.01.2023    
									li Новости
								a(href="#").h3.news-preview__title «Сеть загородных коттеджей «Сова» в финале престижной...
									